<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <ul class="icons">
            <% if (theme.facebook_url) { %>
                <li><a href="<%- theme.facebook_url %>" class="icon fa-facebook" target="_blank" ><span class="label">Facebook</span></a></li>
            <% } %>
            <% if (theme.instagram_url) { %>
                <li><a href="<%- theme.instagram_url %>" class="icon fa-instagram" target="_blank" ><span class="label">Instagram</span></a></li>
            <% } %>
            <% if (theme.github_url) { %>
                <li><a href="<%- theme.github_url %>" class="icon fa-github" target="_blank" ><span class="label">GitHub</span></a></li>
            <% } %>
            <% if (theme.linkedin_url) { %>
                <li><a href="<%- theme.linkedin_url %>" class="icon fa-linkedin" target="_blank" ><span class="label">Linkedin</span></a></li>
            <% } %>
        </ul>
       <ui>
      
           
        <ul class="contact">
            <li><a><span class="icon fa-envelope-o label"> kaoyuchun14@gmail.com</span></a></li>
            <li><a href="<%- theme.whatsapp_url %>"><span class="icon fa-whatsapp label"> +55 43 98476-6628</span></a></li>
        </ul>
    </div>
</footer>
